resources/META-INF/services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="service">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="xs:string" />
                <xs:element name="messageReceivers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="messageReceiver" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="mep" use="required" />
                                    <xs:attribute name="class" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="schema">
                    <xs:complexType>
                        <xs:attribute name="schemaNamespace" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="parameter">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="name" use="required" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" use="required" />
            <xs:attribute name="scope" use="required" />
            <xs:attribute name="targetNamespace" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>